---
// Componente ItemMenu.astro
const { img, name, section} = Astro.props;
---
<a href={section} class=" flex flex-row gap-1 text-red text-[#1abc9c]">
    <img class="h-5"  src={img} alt={name} />
    <span>{name}</span>
</a>