---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Banner from '../components/headerBanner.astro';
import Content from '../components/content.astro';
import Company from '../components/company.astro';
import '../styles/tailwind.css';
import { imageConfig } from 'astro:assets';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <!-- Header + Banner -->
  <div class="w-full bg-[#f6f6f6] min-h-[60vh]">
    <Header />
    <Banner />
  </div>

  <!-- Productos -->
  <div id="productos" class="scroll-mt-[120px] w-full min-h-[100vh] bg-white">
    <Content />
  </div>

  <!-- Nosotros / Company -->
  <div id="company" class="scroll-mt-[120px] w-full min-h-[100vh] bg-[#f6f6f6] pt-20  border-4">
    <Company />
  </div>

  <!-- Footer -->
  <div class="w-full h-12 flex items-center justify-center bg-gray-200">
    Footer
  </div>
</Layout>

<style>
	html {
  		scroll-behavior: smooth;
	}

</style>