<div class="w-[80vw] mx-auto">
  <div class="w-full text-center text-[4rem] font-bold text-[#cb393eb7] mt-2">Nosotros</div>
  <div class="w-full text-xl text-center">
    <p>Somos una empresa líder en productos avícolas, comprometida con la calidad, frescura y excelencia en cada uno de nuestros productos.</p>
  </div>

  <div class="w-full flex flex-col md:flex-row items-stretch gap-7 mt-16">
    <!-- Card 1 -->
    <div class="rounded-2xl p-2 shadow-xl bg-[#FEF3E5] hover:bg-[#FFF3E0] hover:shadow-2xl hover:-translate-y-2 transition-all duration-300 ease-in-out group md:w-1/2 flex flex-col justify-between min-h-[25rem]">
      <div class="flex flex-col items-center justify-center gap-4 mt-4">
        <div class="rounded-full bg-[#FFE6CD] w-20 h-20 flex items-center justify-center transition-all duration-300 ease-in-out group-hover:scale-110 group-hover:shadow-xl">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-[#cb393eb7]" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.5c-4.5 0-8 3.5-8 7.5s3.5 7.5 8 7.5 8-3.5 8-7.5-3.5-7.5-8-7.5zm0 0v7m0 0l3 3m-3-3l-3 3" />
          </svg>
        </div>
        <div class="text-[#cb393eb7] text-[0.8rem] rounded-3xl bg-[#FFE6CD] pl-2 pr-2">Nuestra vision</div>
      </div>
      <div> 
        <p class="text-center text-3xl font-bold text-[#cb393eb7]">
          Compromiso con la calidad
        </p>
      </div>
      <div class="text-justify font-semibold text-lg mt-4 p-6 text-[#cb393eb7]">
        Ser líder en la industria de mercado cárnico nacional, caracterizándonos por el procesamiento dado a nuestros productos y por medio de canales de distribución ser la opción número uno para la satisfacción de nuestros clientes.
      </div>
    </div>

    <!-- Card 2 -->
    <div class="rounded-2xl p-2 shadow-xl bg-[#FEF3E5] hover:bg-[#FFF3E0] hover:shadow-2xl hover:-translate-y-2 transition-all duration-300 ease-in-out group md:w-1/2 flex flex-col justify-between min-h-[25rem]">
      <div class="flex flex-col items-center justify-center gap-4 mt-4">
        <div class="rounded-full bg-[#FFE6CD] w-20 h-20 flex items-center justify-center transition-all duration-300 ease-in-out group-hover:scale-110 group-hover:shadow-xl">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-[#cb393eb7]" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19v-7m0 0l-3 3m3-3l3 3M12 5v2m0 0a7 7 0 1 1-7 7" />
          </svg>
        </div>
        <div class="text-[#cb393eb7] text-[0.8rem] rounded-3xl bg-[#FFE6CD] pl-2 pr-2">Nuestra mision</div>
      </div>
      <div> 
        <p class="text-center text-3xl font-bold text-[#cb393eb7]">
          Compromiso con la mision
        </p>
      </div>
      <div class="text-justify font-semibold text-lg mt-4 p-6 text-[#cb393eb7]">
        Somos un grupo de empresas dedicados a la comercializacion de carne fanto de cerdo como pollo,
        adquiriendo importando bajo estrictos controles sanitarnos y ani ofreceries a nuestros clientes,
        cumpliendo con las normas de calidad que exige al mercado y por medio de personal calificado buscamos 
        el mejoramiento continuo, logrando una satisfacción integral.
      </div>
    </div>
  </div>
</div>
