<div class=" flex flex-col items-center  gap-3 shadow-b-xl  w-[80vw] mx-auto md:flex-row  ">
    <!-- <div class="w-[30vw]">
        <div class="rounded-full bg-[#cb393f]">
            <img class="mask-b-from-20% " src="/img/nutri-fondoW.png" alt="muejer con comida nutritiva"  >
        </div>
    </div>
    <div class="w-[70vw] ">
        <p class="text-xl text-[#cb393eb7] font-bold text-wrap md:text-7xl">
            Somos una empresa especializada en la importación y venta de productos.
        </p> -->
        <!-- <button class="bg-green-500/75 p-1 rounded text-white mt-2 ">Saber mas</button> -->
    <!-- </div>     -->
     <div class=" w-100 md:w-2/4">
        <img class="mask-b-from-20% " src="/img/nutri-fondoW.png" alt="muejer con comida nutritiva"  > 
     </div>
     <div class=" w-100 md:w-2/4">
        <p class="text-xl text-[#cb393eb7] font-bold text-wrap md:text-7xl">
            Somos una empresa especializada en la importación y venta de productos.
        </p>
     </div>
</div>